<div class="container row justify-content-between">
  <button class="col-1 align-self-center bg-transparent btn btn-light notification_container">
    <mat-icon class="notification_icon" matBadge="{{badgeValue}}" matBadgeColor="warn" matBadgePosition="below after">notifications_none</mat-icon>
  </button>
  <div class="col-1 align-self-center"><mat-icon>chat</mat-icon></div>
  <!--a href="https://www.flaticon.com/fr/icones-gratuites/homme" title="homme icônes">Homme icônes créées par Smashicons - Flaticon</a-->
  <div class="col-1 avatar_background rounded-circle d-flex justify-content-center p-0">
    <img class="avatar_img img-fluid w-75 h-75 align-self-center" src="{{imageSrc}}">
  </div>
  <div class="col-5 d-flex flex-column justify-content-start ">
    <p class="row espace_collaborateur_nom h-25 w-100"><small>{{name}}</small></p>
    <button class="row btn btn-light btn-sm p-0" [matMenuTriggerFor]="espace_collaborateur_menu">
      <small class="espace_collaborateur_text">Espace collaborateur</small>
    </button>
    <mat-menu #espace_collaborateur_menu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</div>
