/*.notification_container{

  top: 35px;
  left: 1515px;
  width: 48px;
  height: 48px;

  background: transparent linear-gradient(136deg, #169AF7 0%, #5813F3 100%, #5813F3 100%) 0% 0% no-repeat padding-box;
  opacity: 0;
}

.notification_icon {

  top: 46px;
  left: 1526px;
  width: 25px;
  height: 25px;

  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}

.badge_value{

  top: 55px;
  left: 1545px;
  width: 18px;
  height: 18px;

  background: #FC5058 0% 0% no-repeat padding-box;
  opacity: 1;

  text-align: left;
  font: normal normal bold 12px/44px Rubik;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}*/

.avatar_background{

  background: transparent linear-gradient(180deg, #FCEBDE 0%, #F7D3BA 100%) no-repeat ;
  opacity: 1;
}
/*
.avatar_img {
  top: 36px;
  left: 1648px;
  width: 31px;
  height: 47px;
  opacity: 1;
}

.espace_collaborateur_nom {

  top: 38px;
  left: 1705px;
  width: 150px;
  height: 24px;
  text-align: left;
  font: normal normal 800 18px/44px Open Sans;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
}*/

.espace_collaborateur_text {
  /*top: 60px;
  left: 1705px;
  width: 137px;
  height: 19px;*/

  /*text-align: left;
  font: normal normal normal 14px/44px Open Sans;*/
  letter-spacing: 0px;
  color: #9B9EA6;
  opacity: 1;
}
