<div class="container">
  <div class="row d-flex justify-content-center">
    <app-logo class="mt-3 mb-5"></app-logo>
  </div>
  <div class="row mb-4">
    <button type="button" class="btn btn-primary col-12 w-100 mb-3 btn-sm card_button">
      <div class="row d-flex m-auto ">
        <mat-icon class="col-1 p-0">addition</mat-icon>
        <div class="col-11 p-0 txt_btn_nouvelle_demande">Nouvelle demande</div>
      </div>
    </button>
  </div>
  <div class="row ">
    <app-menu-tab></app-menu-tab>
  </div>
</div>
