<div class="container ">
  <div class="row mb-4">
    <div class="input-group md-form form-sm form-1 pl-0">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-outline-secondary p-0 border-right-0 searchbar_color">
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <input class="form-control border-left-0 searchbar_color" type="text" placeholder="What are you looking for ?"
             (click)="onBtnSearchClicked($event)">
    </div>
  </div>
</div>
