<div class="container-fluid  ">
  <div class="nav row flex-column nav-pills ">
    <a class="nav-link active tab_text col-12" id="v-pills-accueil-tab" data-toggle="pill" href="#">
      <div class="row">
        <img class="my-auto m-3" src="assets/imgs/home.png">
        <p class="my-auto">Accueil</p>
      </div>
    </a>
    <a class="nav-link tab_text" id="v-pills-documents-tab" data-toggle="pill" href="#">
      <div class="row">
        <img class="my-auto m-3" src="assets/imgs/document.png">
        <p class="my-auto">Documents</p>
      </div>
    </a>
    <a class="nav-link tab_text" id="v-pills-conges-tab" data-toggle="pill" href="#">
      <div class="row">
        <img class="my-auto m-3" src="assets/imgs/summer-holidays.png">
        <p class="my-auto">Congés</p>
      </div>
    </a>
    <a class="nav-link tab_text" id="v-pills-absences-tab" data-toggle="pill" href="#">
      <div class="row">
        <img class="my-auto m-3" src="assets/imgs/absent.png">
        <p class="my-auto">Absences</p>
      </div>
    </a>
    <a class="nav-link tab_text" id="v-pills-communication-tab" data-toggle="pill" href="#">
      <div class="row">
        <img class="my-auto m-3" src="assets/imgs/talking.png">
        <p class="my-auto">Communication</p>
      </div>
    </a>
    <a class="nav-link tab_text" id="v-pills-collaborateur-tab" data-toggle="pill" href="#">
      <div class="row">
        <img class="my-auto m-3" src="assets/imgs/group.png">
        <p class="my-auto">Collaborateur</p>
      </div>
    </a>
    <a class="nav-link tab_text" id="v-pills-ressources-tab" data-toggle="pill" href="#">
      <div class="row">
        <img class="my-auto m-3" src="assets/imgs/file-and-folder.png">
        <p class="my-auto">Ressources</p>
      </div>
    </a>
  </div>
</div>
