.text_description {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card_button {
  border-radius: 0px 0.5em 0px 0.5em;
}

.card {
  border: 2px solid #F3F5F9;
  border-radius: 8px;
}
