<div class="container">
  <div class="row d-flex justify-content-between border border-light rounded-5 p-2 ">
    <div class=""><small>{{demande.titre}}</small></div>
    <div class=""><small>{{demande.etat}}</small></div>
  </div>
</div>
