<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-white">
      <app-navbar></app-navbar>
    </div>
    <div class="col-10 content">
      <!--Ici lors de l'utilisation des composants, on précise tout simplement les données à recupérer dans le service-->
      <!-- Juste à titre d'exemple, on demande à l'indexe d'utiliser les informations du premier objet (collaborateur) se trouvant dans l'array du service-->
      <app-header class="row p-0 mt-3" [index]="0"></app-header>
      <!--Par contre ici pour la suite on passe l'identifiant du collaborateur et les composants vont utiliser la méthode de recherche se trouvant dans le service-->
      <div class="row">
        <div class="col-4">
          <app-myrequests-list [collaborateurId]="0"></app-myrequests-list>
        </div>
        <div class="col-8">
          <app-myevents-list [collaborateurId]="0"></app-myevents-list>
        </div>
      </div>
    </div>
  </div>
</div>
